<head>
  <title>我的工单列表</title>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.ui.core.js"></script>
  <script src="/js/jquery.ui.datepicker.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/stupidtable.min.js"></script>
  <script src="/js/chosen.jquery.js"></script>
  <script src="/js/docsupport/prism.js" charset="utf-8"></script>
  <script src="/notify.js"></script>
  <script src="/jstorage.js"></script>

  <link rel="stylesheet" href="/css/jquery.ui.datepicker.css">
  <link rel="stylesheet" href="/css/docsupport/style.css">
  <link rel="stylesheet" href="/css/docsupport/prism.css">
  <link rel="stylesheet" href="/css/chosen.css">
  <link rel="stylesheet" href="/css/app.lite-icon.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
