<head>
  <title>我的工单列表</title>
  <script src="/ticket/js/jquery.min.js"></script>
  <script src="/ticket/js/jquery.ui.core.js"></script>
  <script src="/ticket/js/jquery.ui.datepicker.js"></script>
  <script src="/ticket/js/underscore-min.js"></script>
  <script src="/ticket/js/bootstrap.min.js"></script>
  <script src="/ticket/js/stupidtable.min.js"></script>
  <script src="/ticket/js/chosen.jquery.js"></script>
  <script src="/ticket/js/docsupport/prism.js" charset="utf-8"></script>
  <script src="/ticket/notify.js"></script>
  <script src="/ticket/jstorage.js"></script>

  <link rel="stylesheet" href="/ticket/css/jquery.ui.datepicker.css">
  <link rel="stylesheet" href="/ticket/css/docsupport/style.css">
  <link rel="stylesheet" href="/ticket/css/docsupport/prism.css">
  <link rel="stylesheet" href="/ticket/css/chosen.css">
  <link rel="stylesheet" href="/ticket/css/app.lite-icon.css">
  <link rel="stylesheet" href="/ticket/css/app.css">
</head>
