
<script type="text/javascript">
  $(function () {

    function checkContentOk(content){
      var secret=$("#inputOpen").is(":checked");
      if(secret==false && existsAppIdOrKey(content)){
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      }else{
        return true;
      }
    }

    $("#ticketForm").submit(function (event) {
      var $form = $(this),
        title = $form.find("input[id='inputTitle']").val(),
        content = $form.find("textarea[id='inputContent']").val();
      if (title == '' || content == '') {
        alert("标题和问题描述都不能为空");
        return false;
      }
      return checkContentOk(content);
    });

    $('#inputContent').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#ticketForm").submit();
      }
    });


  });
</script>
<form id="ticketForm" enctype="multipart/form-data" action="/tickets?token=<%=token%>" method="post">
  <div class="form-group">
    <label class="control-label" for="inputTitle">
      标题
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="标题" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="followUser">
      待跟进人
    </label>
    <div class="controls">
      <input type="text" name="followUser" id="followUser" class="form-control" placeholder="待跟进人">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputType">
      问题类型
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
      <option value="consult" selected="selected">咨询流程：产品类别、系统使用等</option>
      <option value="complain">投诉流程：物流问题、服务问题、线下团队问题等</option>
      <option value="new">新品处理流程</option>
      <option value="cancelOrders">退货处理流程：质量问题、产品不符、送货延迟、下错订单、其他原因</option>
      <option value="skill">技术问题反馈：App问题，微信问题，PC问题，后台问题</option>
      <option value="market">市场合作</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="sourceType">
      问题来源
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="sourceType" class="form-control" name="sourceType" required>
      <option value="wxcrowd" selected="selected">微信群</option>
      <option value="wechat">微信平台</option>
      <option value="tel400">400电话</option>
      <option value="cgwyapp">App</option>
      <option value="other">其他</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="stateType">
      工单状态
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="stateType" class="form-control" name="stateType" required>
      <option value="pending" selected="selected">待分配（分配到人）</option>
      <option value="solved">待解决（待分配的人解决问题）</option>
      <option value="noReply">待回复（已经解决，待回复咨询人）</option>
      <option value="reply">已回复（已经回复咨询人）</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputContent">
      问题描述
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <textarea rows="10" cols="20" name="content" id="inputContent" class="form-control" placeholder="问题描述" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAttachment">截图附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' accept="image/*"/>
    </div>
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/tickets" class="btn btn-default">回到工单列表</a>
  </div>

</form>

