
<script type="text/javascript">
  $(function () {

    function checkContentOk(content){
      var secret=$("#inputOpen").is(":checked");
      if(secret==false && existsAppIdOrKey(content)){
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      }else{
        return true;
      }
    }

    $("#ticketForm").submit(function (event) {
      var $form = $(this),
        title = $form.find("input[id='inputTitle']").val(),
        content = $form.find("textarea[id='inputContent']").val();
      if (title == '' || content == '') {
        alert("标题和问题描述都不能为空");
        return false;
      }
      return checkContentOk(content);
    });

    $('#inputContent').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#ticketForm").submit();
      }
    });


  });
</script>
<form id="ticketForm" enctype="multipart/form-data" action="/ticket/tickets?token=rrmn" method="post">
  <p class="formTit">基础信息</p>
  <div class="form-group">
    <label class="control-label" for="inputTitle">
      标题
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="标题" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="consultUser">
      咨询人
    </label>
    <div class="controls">
      <input type="text" name="consultUser" id="consultUser" class="form-control" placeholder="咨询人">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="consultTel">
      咨询人手机
    </label>
    <div class="controls">
      <input type="text" name="consultTel" id="consultTel" class="form-control" placeholder="咨询人手机号">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="restaurantID">
      关联餐馆ID
    </label>
    <div class="controls">
      <% if(data!=null){ %>
      <input type="text" name="restaurantID" id="restaurantID" class="form-control" placeholder="关联餐馆ID" value='<%= data.restaurant.id %>'>
      <% } else { %>
      <input type="text" name="restaurantID" id="restaurantID" class="form-control" placeholder="关联餐馆ID">
      <% } %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="orderId">
      关联订单ID
    </label>
    <div class="controls">
      <% if(data!=null){ %>
      <input type="text" name="orderId" id="orderId" class="form-control" placeholder="关联订单ID" value="<%= data.id %>">
      <% } else { %>
      <input type="text" name="orderId" id="orderId" class="form-control" placeholder="关联订单ID">
      <% } %>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="followUser">
      待跟进人
    </label>
    <div class="controls">
      <select id="followUser" name="followUser" data-placeholder="待跟进人" style="width: 350px; display: none;" class="form-control chosen-select-deselect" tabindex="-1">
          <option></option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="followTel">
      待跟进人手机
    </label>
    <div class="controls">
      <input type="text" name="followTel" id="followTel" class="form-control" placeholder="待跟进人手机">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="sourceType">
      问题来源
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="sourceType" class="form-control" name="sourceType" required>
      <option value="wxcrowd" selected="selected">微信群</option>
      <option value="wechat">微信平台</option>
      <option value="tel400">400电话</option>
      <option value="cgwyapp">App</option>
      <option value="other">其他</option>
    </select>
    </div>
  </div>
  <br>
  <p class="formTit">选择流程</p>
  <div class="form-group">
    <label class="control-label" for="inputType">
      问题类型
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <select id="inputType" class="form-control" name="type" >
        <option value="consult" selected="selected">咨询流程</option>
        <option value="new">新品处理流程</option>
        <option value="cancelAddressOrders">退换货处理流程</option>
        <option value="complain">投诉流程</option>
        <option value="check">订单查重流程</option>
        <option value="noCar">未分车订单处理流程</option>
        <option value="visit">订单评价回访流程</option>
        <option value="firstVisit">首单回访流程</option>
      </select>
    </div>
  </div>
  <br>
  <div id='tabBox'>
      <ul>
        <li class="selected" id="consult">
            <div class="form-group">
              <label class="control-label" for="consultType">
                咨询类别
              </label>
              <div class="controls">
              <select id="consultType" class="form-control" name="consultType" >
                <option selected="selected">软件使用</option>
                <option>物流催货</option>
                <option>市场合作</option>
                <option>商户审核</option>
                <option>修改密码</option>
                <option>退换货咨询</option>
                <option>平台活动</option>
                <option>奖品兑换</option>
                <option>其他</option>
              </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="consultResult">
                咨询处理结果
                <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
              </label>
              <div class="controls">
              <select id="consultResult" class="form-control" name="consultResult" required>
                <option selected="selected">处理中</option>
                <option>已反馈其他部门待回复</option>
                <option>已反馈给咨询人</option>
                <option>已完成</option>
                <option>已审核</option>
              </select>
              </div>
            </div>
            <div class="form-group textArea" style='clear:both; width: 100%;'>
              <label class="control-label" for="consultRemarks">
                咨询流程备注
                <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
              </label>
              <div class="controls">
                <textarea rows="10" cols="20" name="consultRemarks" id="consultRemarks" class="form-control" placeholder="咨询流程备注"></textarea>
              </div>
            </div>
        </li>
        <li id='new'>
          <p class="formTit">新品处理流程详情</p>
          <div class="form-group">
            <label class="control-label" for="newStype">
              新品流程分类
            </label>
            <div class="controls">
            <select id="newStype" class="form-control" name="newStype" >
              <option  selected="selected">找新品</option>
              <option >调价格</option>
              <option >调规格</option>
              <option >其他</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="newType">
              新品流程状态
            </label>
            <div class="controls">
            <select id="newType" class="form-control" name="newType" >
              <option  selected="selected">已记录</option>
              <option >已反馈给市场</option>
              <option >市场反馈无货</option>
              <option >市场反馈上线</option>
              <option >市场反馈不调整</option>
              <option >市场反馈其他</option>
              <option >已通知反馈人及客户</option>
              <option >已完成</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="newMarket">
              所属市场
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="newMarket" name="newMarket" data-placeholder="所属市场" style="width: 350px; display: none;" class="form-control chosen-select-deselect" tabindex="-1">
              <option value=""></option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="newReName">
              新品参考名称
            </label>
            <div class="controls">
              <input type="text" name="newReName" id="newReName" class="form-control" placeholder="新品参考名称">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="newRePrice">
              参考价格
            </label>
            <div class="controls">
              <input type="number" name="newRePrice" id="newRePrice" class="form-control" placeholder="参考价格">
            </div>
          </div>
          <div class="form-group textArea" style='clear:both; width: 100%;'>
            <label class="control-label" for="newProcess">
              新品流程备注
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
              <textarea rows="10" cols="20" name="newProcess" id="newProcess" class="form-control" placeholder="新品流程备注"></textarea>
            </div>
          </div>
        </li>
        <li id="cancelAddressOrders">
          <p class="formTit">退换货处理流程详情</p>
          <div class="form-group">
            <label class="control-label" for="cancelAddress">
              商户地址
            </label>
            <div class="controls">
              <% if(data!=null){ %>
              <input type="text" name="cancelAddress" id="cancelAddress" class="form-control" placeholder="商户地址" readOnly value="<%= data.restaurant.address.address %>">
              <% } else { %>
              <input type="text" name="cancelAddress" id="cancelAddress" class="form-control" placeholder="商户地址">
              <% } %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelSalesperson">
              销售员
            </label>
            <div class="controls">
              <% if(data!=null){ %>
              <input type="text" name="cancelSalesperson" id="cancelSalesperson" class="form-control" placeholder="销售员" readOnly value="<%= data.customer.adminUser.realname %>">
              <% } else { %>
              <input type="text" name="cancelSalesperson" id="cancelSalesperson" class="form-control" placeholder="销售员">
              <% } %>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelProduct">
              订单产品
            </label>
            <div class="controls">
              <input type="text" name="cancelProduct" id="cancelProduct" class="form-control" placeholder="订单产品">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelQuantity">
              订购数量
            </label>
            <div class="controls">
              <input type="number" name="cancelQuantity" id="cancelQuantity" class="form-control" placeholder="订购数量" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelUnitPrice">
              订单单价
            </label>
            <div class="controls">
              <input type="number" name="cancelUnitPrice" id="cancelUnitPrice" class="form-control" placeholder="订单单价" >
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelNum">
              退换数量
            </label>
            <div class="controls">
              <input type="number" name="cancelNum" id="cancelNum" class="form-control" placeholder="退换数量">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelAmount">
              退款金额
            </label>
            <div class="controls">
              <input type="number" name="cancelAmount" id="cancelAmount" class="form-control" placeholder="退款金额">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelReason">
              退换原因
            </label>
            <div class="controls">
            <select id="cancelReason" class="form-control" name="cancelReason" >
              <option selected="selected">商户订错货</option>
              <option>物流送错货</option>
              <option>质量问题</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelCar">
              送货车辆
            </label>
            <div class="controls">
              <input type="text" name="cancelCar" id="cancelCar" class="form-control" placeholder="送货车辆">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="DeliveryDate">
              送货日期
            </label>
            <div class="controls">
              <input type="text" name="DeliveryDate" id="DeliveryDate" class="form-control" placeholder="送货日期">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelSuggestion">
              处理意见
            </label>
            <div class="controls">
              <input type="text" name="cancelSuggestion" id="cancelSuggestion" class="form-control" placeholder="处理意见">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="planDeliveryDate">
              计划退货时间
            </label>
            <div class="controls">
              <input type="date" name="planDeliveryDate" id="planDeliveryDate" class="form-control" placeholder="计划退货时间">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="ActualDeliveryDate">
              实际退货时间
            </label>
            <div class="controls">
              <input type="date" name="ActualDeliveryDate" id="ActualDeliveryDate" class="form-control" placeholder="实际退货时间">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelType">
              退货状态
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="cancelType" class="form-control" name="cancelType" required>
              <option  selected="selected">已记录</option>
              <option >已反馈给物流</option>
              <option >物流已确定退货时间</option>
              <option >物流已退货</option>
              <option >已回访</option>
              <option >已完成</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitRecord">
              回访记录
            </label>
            <div class="controls">
              <input type="text" name="visitRecord" id="visitRecord" class="form-control" placeholder="回访记录">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelRemarks">
              退换货备注
            </label>
            <div class="controls">
              <input type="text" name="cancelRemarks" id="cancelRemarks" class="form-control" placeholder="退换货备注">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="cancelHandleType">
              已退货产品处理
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="cancelHandleType" class="form-control" name="cancelHandleType" required>
              <option  selected="selected">已退还供应商</option>
              <option >内部消耗处理</option>
              <option >其他</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="supplier">
              已退货供应商处理
            </label>
            <div class="controls">
              <input type="text" name="supplier" id="supplier" class="form-control" placeholder="已退货供应商处理">
            </div>
          </div>
        </li>
        <li id="complain">
          <p class="formTit">投诉处理流程详情</p>
          <div class="form-group">
            <label class="control-label" for="complains">
              投诉事项
            </label>
            <div class="controls">
              <input type="text" name="complains" id="complains" class="form-control" placeholder="投诉事项">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="complainExpected">
              期望的处理方法
            </label>
            <div class="controls">
              <input type="text" name="complainExpected" id="complainExpected" class="form-control" placeholder="期望的处理方法">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="complainType">
              投诉类别
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="complainType" class="form-control" name="complainType" required>
              <option  selected="selected">投诉送货司机</option>
              <option >投诉销售人员</option>
              <option >投诉产品质量</option>
              <option >投诉其他</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="complainDepartmentType">
              投诉部门
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="complainDepartmentType" class="form-control" name="complainDepartmentType" required>
              <option  selected="selected">销售部</option>
              <option >物流部</option>
              <option >采购部</option>
              <option >其他部门</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="complainDescription">
              处理描述
            </label>
            <div class="controls">
              <input type="text" name="complainDescription" id="complainDescription" class="form-control" placeholder="处理描述">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="complainProcess">
              投诉处理过程
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="complainProcess" class="form-control" name="complainProcess" required>
              <option  selected="selected">已安抚并记录</option>
              <option >已反馈到投诉部门</option>
              <option >投诉部门已处理</option>
              <option >已回访投诉人</option>
              <option >已完成</option>
            </select>
            </div>
          </div>
        </li>
        <li id='check'>
          <p class="formTit">订单查重流程详情</p>
          <div class="form-group">
            <label class="control-label" for="repeatNum">
              重复订单编号
            </label>
            <div class="controls">
              <input type="text" name="repeatNum" id="repeatNum" class="form-control" placeholder="重复订单编号">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="checkDescription">
              处理描述
            </label>
            <div class="controls">
              <input type="text" name="checkDescription" id="checkDescription" class="form-control" placeholder="处理描述">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="checkProcess">
              处理过程
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="checkProcess" class="form-control" name="checkProcess" required>
              <option selected="selected">未联系成功客户或销售</option>
              <option >已联系客户并取消</option>
              <option >已联系客户并保留</option>
              <option >已联系销售并取消</option>
              <option >已联系销售并保留</option>
            </select>
            </div>
          </div>
        </li>
        <li id='noCar'>
          <p class="formTit">未分车订单处理流程详情</p>
          <div class="form-group">
            <label class="control-label" for="noCarReason">
              未分车原因
            </label>
            <div class="controls">
              <input type="text" name="noCarReason" id="noCarReason" class="form-control" placeholder="未分车原因">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="noCarDescription">
              处理描述
            </label>
            <div class="controls">
              <input type="text" name="noCarDescription" id="noCarDescription" class="form-control" placeholder="处理描述">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="noCarType">
              未分单处理过程描述
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="noCarType" class="form-control" name="noCarType" required>
              <option selected="selected">已联系物流送货</option>
              <option>已通知客户取消订单</option>
            </select>
            </div>
          </div>
        </li>
        <li id='visit'>
          <p class="formTit">订单评价回访流程详情</p>
          <div class="form-group">
            <label class="control-label" for="visitSingleTime">
              下单时间
            </label>
            <div class="controls">
              <input type="date" name="visitSingleTime" id="visitSingleTime" class="form-control" placeholder="下单时间">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitCname">
              客服名称
            </label>
            <div class="controls">
              <input type="text" name="visitCname" id="visitCname" class="form-control" placeholder="客服名称">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitDriverName">
              司机名称
            </label>
            <div class="controls">
              <input type="text" name="visitDriverName" id="visitDriverName" class="form-control" placeholder="司机名称">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitQuality">
              商品质量
            </label>
            <div class="controls">
              <input type="text" name="visitQuality" id="visitQuality" class="form-control" placeholder="商品质量">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitSpeed">
              送货速度
            </label>
            <div class="controls">
              <input type="text" name="visitSpeed" id="visitSpeed" class="form-control" placeholder="送货速度">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitEvaluation">
              配送评价
            </label>
            <div class="controls">
              <input type="text" name="visitEvaluation" id="visitEvaluation" class="form-control" placeholder="配送评价">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitOtherInfo">
              其他信息
            </label>
            <div class="controls">
              <input type="text" name="visitOtherInfo" id="visitOtherInfo" class="form-control" placeholder="其他信息">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitDescription">
              订单评价处理描述
            </label>
            <div class="controls">
              <input type="text" name="visitDescription" id="visitDescription" class="form-control" placeholder="订单评价处理描述">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="visitProcess">
              订单评价处理过程
            </label>
            <div class="controls">
            <select id="visitProcess" class="form-control" name="visitProcess" >
              <option selected="selected">未接通</option>
              <option>停机、错号等无法接通</option>
              <option>客户满意已回访并记录</option>
              <option>客户不满意已回访并反馈</option>
            </select>
            </div>
          </div>
        </li>
        <li id='firstVisit'>
          <p class="formTit">首单回访流程详情</p>
          <div class="form-group">
            <label class="control-label" for="fvType">
              下订单方式
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="fvType" class="form-control" name="fvType" required>
              <option selected="selected">APP</option>
              <option>微信</option>
              <option>销售代下订单</option>
              <option>PC</option>
              <option>其他</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="purchaseType">
              原来采购方式
              <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
            </label>
            <div class="controls">
            <select id="purchaseType" class="form-control" name="purchaseType" required>
              <option selected="selected">市场自行采购</option>
              <option>其他供应商送货</option>
              <option>多种方式采购</option>
            </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="fvInfo">
              信息通知
            </label>
            <div class="controls">
              <input type="text" name="fvInfo" id="fvInfo" class="form-control" placeholder="信息通知">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="fvRemarks">
              回访备注
            </label>
            <div class="controls">
              <input type="text" name="fvRemarks" id="fvRemarks" class="form-control" placeholder="回访备注">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="fvEvaluation">
              对产品质量评价
            </label>
            <div class="controls">
              <input type="text" name="fvEvaluation" id="fvEvaluation" class="form-control" placeholder="对产品质量评价">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="staffEvaluation">
              对地推员工评价
            </label>
            <div class="controls">
              <input type="text" name="staffEvaluation" id="staffEvaluation" class="form-control" placeholder="对地推员工评价">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="driverEvaluation">
              对送货司机的评价
            </label>
            <div class="controls">
              <input type="text" name="driverEvaluation" id="driverEvaluation" class="form-control" placeholder="对送货司机的评价">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="fvComments">
              其他意见和建议
            </label>
            <div class="controls">
              <input type="text" name="fvComments" id="fvComments" class="form-control" placeholder="其他意见和建议">
            </div>
          </div>
        </li>
      </ul>
  </div>
  <div class="form-group clearleft">
    <label class="control-label" for="inputAttachment">截图附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' accept="image/*"/>
    </div>
  </div>
  
  <div class="form-group clearleft">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="/ticket/tickets" class="btn btn-default">回到工单列表</a>
  </div>

</form>
<script type="text/javascript">
  $('#inputType').bind('change',function(){
      var id = $(this).val();
      $('#tabBox li').removeClass('selected');
      $('#'+id).addClass('selected');
  })
  
  $.ajax({ 
      url: "http://www.canguanwuyou.cn/admin/api/warehouse", 
      type: "GET",
      dataType: "json",
      success: function(data){
          var str = $('#newMarket').html();
          for(var i=0; i<data.length;i++){
              str += "<option>"+data[i].displayName+"</option>";
          }
          $('#newMarket').html(str);
      }
    });
  $.ajax({ 
      url: "http://www.canguanwuyou.cn/admin/api/admin-user?pageSize=10000", 
      type: "GET",
      dataType: "json",
      success: function(data){
          //console.log(data.adminUsers[0].realname);
          var str = $('#followUser').html();
          for(var i=0; i<data.adminUsers.length;i++){
              str += "<option>"+data.adminUsers[i].realname+"</option>";
          }
          $('#followUser').html(str);
          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:1},
              '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
              '.chosen-select-width'     : {width:"95%"}
            }
          $(".chosen-select-deselect").chosen({width: "100%"});
          $(".chosen-select-deselect").chosen({height: "100px"});
          for (var selector in config) {
            $(selector).chosen(config[selector]);
          }
      }
    });
</script>