
<script type="text/javascript">
  $(function () {

    function checkContentOk(content){
      var secret=$("#inputOpen").is(":checked");
      if(secret==false && existsAppIdOrKey(content)){
        alert('检测到含有 AppId 或 AppKey，请勾选「仅管理员可见」');
        return false;
      }else{
        return true;
      }
    }

    $("#ticketForm").submit(function (event) {
      var $form = $(this),
        title = $form.find("input[id='inputTitle']").val(),
        content = $form.find("textarea[id='inputContent']").val();
      if (title == '' || content == '') {
        alert("标题和问题描述都不能为空");
        return false;
      }
      return checkContentOk(content);
    });

    $('#inputContent').keydown(function (e) {

      if (e.ctrlKey && e.keyCode == 13) {
        // Ctrl-Enter pressed
        $("#ticketForm").submit();
      }
    });


  });
</script>
<form id="ticketForm" enctype="multipart/form-data" action="/ticket/tickets?token=rrmn" method="post">
  <div class="form-group">
    <label class="control-label" for="inputTitle">
      标题
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="标题" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="consultUser">
      咨询人
    </label>
    <div class="controls">
      <input type="text" name="consultUser" id="consultUser" class="form-control" placeholder="咨询人">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="consultTel">
      咨询人手机
    </label>
    <div class="controls">
      <input type="text" name="consultTel" id="consultTel" class="form-control" placeholder="咨询人手机号">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="restaurantID">
      关联餐馆ID
    </label>
    <div class="controls">
      <input type="text" name="restaurantID" id="restaurantID" class="form-control" placeholder="关联餐馆ID">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="orderId">
      关联订单ID
    </label>
    <div class="controls">
      <input type="text" name="orderId" id="orderId" class="form-control" placeholder="关联订单ID">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="followUser">
      待跟进人
    </label>
    <div class="controls">
      <select id="followUser" name="followUser" data-placeholder="待跟进人" style="width: 350px; display: none;" class="form-control chosen-select-deselect" tabindex="-1">
          <option></option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="followTel">
      待跟进人手机
    </label>
    <div class="controls">
      <input type="text" name="followTel" id="followTel" class="form-control" placeholder="待跟进人手机">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputType">
      问题类型
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="inputType" class="form-control" name="type" required>
      <option value="consult" selected="selected">咨询流程</option>
      <option value="complain">投诉流程</option>
      <option value="new">新品处理流程</option>
      <option value="cancelOrders">退货处理流程</option>
      <option value="skill">技术问题反馈</option>
      <option value="market">市场合作</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="sourceType">
      问题来源
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
    <select id="sourceType" class="form-control" name="sourceType" required>
      <option value="wxcrowd" selected="selected">微信群</option>
      <option value="wechat">微信平台</option>
      <option value="tel400">400电话</option>
      <option value="cgwyapp">App</option>
      <option value="other">其他</option>
    </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label" for="inputContent">
      问题描述
      <b class="has-required bstooltip" title="必填" data-placement="top">必填</b>
    </label>
    <div class="controls">
      <textarea rows="10" cols="20" name="content" id="inputContent" class="form-control" placeholder="问题描述" required></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" for="inputAttachment">截图附件</label>
    <div class="controls">
      <input type='file' name='attachment' id='inputAttachment' accept="image/*"/>
    </div>
  </div>
  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">提交</button>
    <a href="ticket/tickets" class="btn btn-default">回到工单列表</a>
  </div>

</form>
<script type="text/javascript">
  $.ajax({ 
      url: "http://www.canguanwuyou.cn/admin/api/admin-user?pageSize=10000", 
      type: "GET",
      dataType: "json",
      success: function(data){
          //console.log(data.adminUsers[0].realname);
          var str = $('#followUser').html();
          for(var i=0; i<data.adminUsers.length;i++){
              str += "<option>"+data.adminUsers[i].realname+"</option>";
          }
          $('#followUser').html(str);
          var config = {
              '.chosen-select'           : {},
              '.chosen-select-deselect'  : {allow_single_deselect:true},
              '.chosen-select-no-single' : {disable_search_threshold:1},
              '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
              '.chosen-select-width'     : {width:"95%"}
            }
          $(".chosen-select-deselect").chosen({width: "100%"});
          $(".chosen-select-deselect").chosen({height: "100px"});
          for (var selector in config) {
            $(selector).chosen(config[selector]);
          }
      }
    });
</script>